.brewery-list {
  .brewery-list-wrapper {
    display: inline-flex;
    width: 100%;
    height: 100%;

    .brewery-list-content {
      width: 25%;
      height: 100%;
      overflow: scroll;
    }

    .brewery-map-wrapper {
      width: 75%;
      height: 100%;
    }
  }
}
