.location-form {
  background-image: url('../../../assets/brewery1.jpg');
  padding-top: 5px;
  font-family: sans-serif;
  padding-bottom: 20px;
  display: inline-block;
  border-bottom: 1px solid lightgrey;

  .location-chooser {
    color: white;
    display: inline-block;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;

    .location-chooser-label {
      padding: 5px;
    }
    .location-chooser-button-wrapper {
      background: white;
      color: black;
      padding: 5px;
      border-radius: 3px;
      border: .5px solid lightgrey;
      cursor: pointer;
    }
  }

  .radius-input {
    color: white;
    display: inline-block;
    width: 50%;

    .radius-input-label {
      padding: 5px;
    }

    .radius-input-wrapper {
      padding: 5px;
      width: 100%;
      input {
        width: 100%;
        font-size: 25px;
        border-radius: 3px;
        border: 1px solid lightgrey;
      }
    }
  }

  .location-form-submit {
    .location-form-submit-button {
      width: 30%;
      margin-left: 35%;
      margin-right: 35%;
      border-radius: 5px;
      padding: 5px;
      background: #2edaae66;
      color: #243126;
      cursor: pointer;
    }
  }
}
