.location-form {
  background-image: url('../../../assets/brewery1.jpg');
  padding-top: 5px;
  font-family: sans-serif;
  padding-bottom: 20px;
  display: inline-block;
  border-bottom: 1px solid lightgrey;

  .location-chooser {
    display: inline-flex;

    .location-chooser-label {
      padding: 5px;
    }
    .location-chooser-button-wrapper {
      margin-left: 25px;
      padding: 5px;
      border-radius: 3px;
      border: .5px solid lightgrey;
      cursor: pointer;
    }
  }

  .radius-input {
    display: inline-flex;

    .radius-input-label {
      padding: 5px;
    }

    .radius-input-wrapper {
      margin-left: 20px;
      padding: 5px;
      input {
        width: 50%;
        font-size: 25px;
        margin-right: 50%;
        border-radius: 3px;
        border: 1px solid lightgrey;
      }
    }
  }

  .location-form-submit {
    .location-form-submit-button {
      width: 30%;
      margin-left: 35%;
      margin-right: 35%;
      border-radius: 5px;
      padding: 5px;
      background: #2edaae66;
      color: #243126;
      cursor: pointer;
    }
  }
}
